{% extends "layout.html" %}
{% block content %}
  <center>
    <h1>Entire Inventory</h1>
    <table id="PartsTable" class="sortable">
      <thead> 
        <tr>
          <th>Condition</th>
          <th>Part #</th>
          <th>Name</th>
          <th>Color</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      {% for item in inv %}
        <tr>
          <td style="border: 1px solid black;"align="center">{{ item.new_or_used }}</td>
          <td style="border: 1px solid black;">{{ item.part_num }}</td>
          <td style="border: 1px solid black;">{{ item.part_name }}</td>
          <td style="border: 1px solid black;"align="center">{{ item.color_name }}</td>
          <td style="border: 1px solid black;"align="center">{{ item.quantity }}</td>
          <td style="border: 1px solid black;"align="center">{{ item.unit_price }}</td>
          <td style="border: 1px solid black;"align="center">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <!-- Modal -->
            <div id="deleteModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to delete this item?</h4>
                  </div>
                  <div class="modal-footer">
                    <form action="{{ url_for('delete_item', inv_id=item.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
               </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </center>
{% endblock content %}