{% extends "layout.html" %}
{% block content %}
  <center>
    <h1>{{  item.part_name }}</h1>
    <table style="height: 139px; width: 570px; margin-left: auto; margin-right: auto;" border="2" cellpadding="5" cellspacing="1">
        <tr style="height: 139px;">
          <td style="width: 81px; height: 139px;">
            <img src="{{ item.image_url }}">
          </td>
          <td style="width: 262px; height: 139px;">
            <b>{{ item.part_num }}</b><br> 
            {{ item.color_name }} {{ item.part_name }}<br> 
            <textarea rows="3" cols="29">{{ item.description }}</textarea><br> 
            <input type="TEXT" size="25" value="{{ item.remarks }}">
          </td>
          <td style="width: 80px; height: 139px;">
            <b>Qty:</b><br> 
            <input type="TEXT" size="5" value="{{ item.quantity }}"><br><br>
            <b>Price:</b><br>
            <input type="TEXT" size="5" value="{{ item.unit_price }}"><br><br>
            <b>Condition: {{ item.new_or_used }}</b><br> 
          </td>
          <td style="height: 139px;">
            <input type="CHECKBOX">Stockroom<br>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <!-- Modal -->
            <div id="deleteModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Item?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure?</p>
                  </div>
                  <div class="modal-footer">
                    <form action="{{ url_for('delete_item', inv_id=item.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
               </div>
            </div>
          </td>
        </tr>

    </table>
  </center>
{% endblock content %}